@model DBPacientes_EXO.Data.Entities.Injury

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Injury</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccidentSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccidentSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LesionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LesionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyPart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyPart)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
